h1 {color: rgb(14, 49, 14); }
img {width: 400px; }
#thirdDiv {height: 600px; width: 500px; }
#thirdDiv {background: grey ; }
#spanId {margin: 50px; }
#thirdDiv { padding: 50px;}
#thirdDiv {border: dashed red; }